
<section class="py-5 my-4 ">
    <h1 class="text-uppercase pt-5 mt-4 text-center color fw-bolder ">conatact section</h1>
     <div class="d-flex justify-content-center align-items-center mb-3 ">
        <div class="line  me-3 color"></div>
        <i class="fa-solid fa-star color "></i>
        <div class="line  ms-3 color"></div>
    </div>

<div class="w-50 mx-auto py-3">
   <div class="form-floating mb-4">
  <input type="text" class="form-control border-0 border-bottom" placeholder="userName">
  <label for="productName">userName:</label>
</div>

<div class="form-floating mb-4">
  <input type="text" class="form-control border-0 border-bottom" placeholder="userAge">
  <label for="productPrice">userAge:</label>
</div>

<div class="form-floating mb-4">
  <input type="text" class="form-control border-0 border-bottom" placeholder="userEmail">
  <label for="productName">userEmail:</label>
</div>

<div class="form-floating mb-4">
  <input type="text" class="form-control border-0 border-bottom" placeholder="userPassword">
  <label for="productName">userPassword:</label>
</div>

<button class="text-white mt-4 border-0 rounded-2 py-2 px-2">send Message</button>


</div>

</section>