<section class="py-4">
    <div class="container pt-5 ">
        <div class="row">
            <div class="col-sm-4 my-5">
                <div class="location text-center">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>

            <div class="col-sm-4 my-5">
                <div class="icons text-center" >
                    <h3>AROUND THE WEB</h3>
                    <div class="icon d-flex justify-content-center align-items-center">
                    <i class="fa-brands fa-facebook mx-1"></i>
                    <i class="fa-brands fa-twitter mx-1"></i>
                    <i class="fa-brands fa-linkedin-in mx-1"></i>
                    <i class="fa-solid fa-globe mx-1"></i>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 my-5">
                <div class="freelancer text-center">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use,licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="end py-3 text-center">
        <p class="pt-1">Copyright © Your Website 2021</p>
    </div>
